.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 135px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}